.hero{
    height: auto;
    width: 100%;
    position: relative;
    top:0px;
    z-index:1;
}

.swiper{
    position: relative;
  }
  .swiper-wrapper{
    width:100%;
    height: auto;
  }

  .swiper_buttonConatiner{
    position: absolute;
    bottom:50px !important;
    left: 45%;
    display: flex;
    width: 10%;
  }
  .swiper-pagination{
    bottom: 35px !important;
  }
  .swiper-button-next, .swiper-button-prev{
    border: 1px solid #D0D5DD;
    background-color:#F9FAFB;
width: 48px;
height: 48px;
border-radius: 50%;

  }
  .swiper-button-next svg,.swiper-button-prev svg{
width: 10px;
height: 10px;
  }

  .swiper-button-prev svg{
    transform: rotate(180deg);
  }
  .swiper-slide.hero1,.swiper-slide.hero2{
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
  }
  .swiper-slide.hero1{
    background-image: url(../image/hero_slide1.webp);

  }
  .swiper-slide.hero2{
    background-image: url(../image/hero_slide2.webp);
  }


  .swiper-slide_container{
   margin-left: 150px;
   margin-right: 150px;
    padding-top: 300px;
top: 100px;

  }


  .swiper-slide_container .size_72{
    color: var(--text-white);
    max-width: 932px;
    margin-bottom: 30px;
  }
  .swiper-slide_container__flex{
    display: flex;
    gap: 32px;
    margin-bottom: 60px;
  }
  .swiper-slide_container__flex__mini{
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 320px;
  }
  .swiper-slide_container__flex__mini .size_24,
  .swiper-slide_container__flex__mini .size_18{
    color: var(--text-white);
  }
  .swiper-slide_container__flex__mini .size_18{
    font-weight: 300;
    line-height: 28px;
    text-align: left;
  }
  .swiper-slide_container_button{
    display: flex;
    gap: 8px;
    margin-bottom: 112px;
  }
  .swiper-slide_container_button a{
    display: block;
  }
  .swiper-slide_container_button .blue_button{
    padding: 14px 30px;
font-size: 18px;
font-weight: 500;
line-height: 28px;
  }

  /* Tooltip */
  .tippy-tooltip{
    padding: 8px 12px;
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-align: center;
  }


  /* АДАПТИВ */

  @media screen and (min-width: 0px) and (max-width:768px) {
    .swiper-slide.hero1,.swiper-slide.hero2{
      height: auto;
    }
    .swiper-slide_container{
     padding-top: 180px;
      margin-left: 16px;
   margin-right: 16px;
    }
    .swiper-slide_container .size_72 {
      max-width: 100%;
    }
    .swiper-slide_container h1{
font-size: 48px;
font-weight: 500;
line-height: 60px;
letter-spacing: -0.02em;
text-align: left;
    }
    .swiper-slide_container__flex{
      flex-wrap: wrap;
      margin-bottom: 40px;
    }
    .swiper-slide_container__flex__mini{
      max-width: 45%;
    }
    .swiper-slide_container__flex__mini .size_24{
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
    }
    .swiper-slide_container__flex__mini .size_18{
font-size: 14px;
font-weight: 300;
line-height: 20px;
    }
    .swiper-slide_container_button{
      flex-direction: column;
    }
    .swiper_buttonConatiner{
      width: 100%;
      left: 0px;
    }
  }

  @media screen and (min-width: 769px) and (max-width:1024px) {
    .swiper-slide.hero1,.swiper-slide.hero2{
      height: auto;
    }
    .swiper-slide_container{
     padding-top: 180px;
      margin-left: 32px;
   margin-right: 32px;
    }

    .swiper-slide_container .size_72 {
      max-width: 100%;
    }
    .swiper-slide_container h1{
font-size: 48px;
font-weight: 500;
line-height: 60px;
letter-spacing: -0.02em;
text-align: left;
    }
    .swiper-slide_container__flex__mini .size_24{
font-size: 24px;
font-weight: 600;
line-height: 32px;
    }
    .swiper-slide_container__flex__mini .size_18{
font-size: 16px;
font-weight: 300;
line-height: 24px;
          }
          .swiper_buttonConatiner{
            width: 30%;
            left: 35%;
          }
          .swiper-slide_container_button{
            margin-bottom: 182px;
          }
  }

  @media screen and (min-width: 1025px) and (max-width:1200px) {
    .swiper-slide.hero1,.swiper-slide.hero2{
      height: auto;
    }
    .swiper-slide_container{
     padding-top: 180px;
      margin-left: 72px;
   margin-right: 72px;
    }

    .swiper-slide_container .size_72 {
      max-width: 100%;
    }
    .swiper-slide_container h1{
font-size: 48px;
font-weight: 500;
line-height: 60px;
letter-spacing: -0.02em;
text-align: left;
    }
    .swiper-slide_container__flex__mini .size_24{
font-size: 24px;
font-weight: 600;
line-height: 32px;
    }
    .swiper-slide_container__flex__mini .size_18{
font-size: 16px;
font-weight: 300;
line-height: 24px;
          }
          .swiper_buttonConatiner{
            width: 30%;
            left: 35%;
          }
          .swiper-slide_container_button{
            margin-bottom: 182px;
          }
  }

  @media screen and (min-width: 1201px) and (max-width:1400px) {
    .swiper-slide.hero1,.swiper-slide.hero2{
      height: auto;
    }
    .swiper-slide_container_button{
      margin-bottom: 182px;
    }
    .swiper_buttonConatiner{
      width: 20%;
      left: 40%;
    }

  }

  @media screen and (min-width: 1401px) and (max-width:1600px) {
    .swiper-slide_container{
      padding-top: 180px;
       margin-left: 72px;
    margin-right: 72px;
     }
    .swiper-slide.hero1,.swiper-slide.hero2{
      height: auto;
    }
    /* .swiper-slide_container_button{
      margin-bottom: 182px;
    } */
    .swiper_buttonConatiner{
      width: 20%;
      left: 40%;
    }

  }