.third_wrapper_container,.third_wrapper_container_flex{
    display: flex;
}
.third_wrapper_container{
    gap: 32px;
}

.third_wrapper_container_flex{
    flex-direction:column;
    
}
.third_wrapper_container_flex .size_60{
    color: var(--text-black);
}
.third_wrapper_container_flex .size_18{
    color: var(--text-grey);
    font-weight: 300 !important;
}


/* АДАПТИВ */

@media screen and (min-width: 0px) and (max-width:768px) {
    .third_wrapper_container,.third_wrapper_container_flex{
        display: flex;
        flex-direction: column;
    }
    .third_wrapper_container_flex .size_60{
        font-size: 48px;
        font-weight: 500;
        line-height: 60px;
    }
    .third_wrapper_container_flex .size_18{
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
    }
}


@media screen and (min-width: 769px) and (max-width:1024px) {
    .third_wrapper_container{
        flex-wrap: wrap;
    }
    .third_wrapper_container_flex{
        width: 47%;
    }

    .third_wrapper_container_flex .size_60{
        font-size: 48px;
        font-weight: 500;
        line-height: 60px;
    }
    .third_wrapper_container_flex .size_18{
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
    }
}

@media screen and (min-width: 1025px) and (max-width:1400px) {
    .third_wrapper_container{
        flex-wrap: wrap;
    }
    .third_wrapper_container_flex{
        width: 47%;
    }
    
}